#header #logo img {
  max-width: 120px;
}

.banner-content h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-widget{
	text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

#stacked-bar path.line{
  fill: none;
  stroke:blue;
  stroke-width:2px;
}